<%= @article.title %><br />
<%= @article.body %><br />
<h6 class="m-0"><%= like_and_unlike(@article) %> <small><%= count_votes(@article) %></small></h6>
<%#= show_voters(@article) %>
<% @article.categories.each do |c| %>
<%= link_to  c.name, category_path(c) %><br />
<% end %>
