<!DOCTYPE html>
<html>
  <head>
    <title>ArtTickles</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>

  <body>
    <% flash.each do |type, message| %>
      <%= content_tag :p, class: "animated fadeInDown m-0 text-center text-#{type} alert alert-#{type}" do -%>
        <%= message %>
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <% end -%>
    <% end %>
    <nav class="navbar navbar-light text-secondary d-flex justify-content-between">
        <h1 class="nav-item d-flex align-items-center m-0"><%= link_to "ArTtiCkleS.", root_path, class: "text-dark navbar-brand font-weight-bold m-0" %></h1>
      <ul class="d-flex list-unstyled m-0 justify-content-center align-items-center">
        <% Category.all.by_date.each do |c| %>
          <%= link_to  c.name.capitalize, category_path(c), class: "nav-link text-secondary" %>
        <% end %>
      </ul>
      <ul class="d-flex align-items-center list-unstyled m-0">
        <li class="nav-item dropdown">
          <h6 class="dropdown-toggle m-0" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= show_user_name %></h6>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= navigation %>
          </div>
        </li>
        <%= link_to  "Write an Article", new_article_path, class: "nav-link text-secondary" %>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
